html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  text-shadow: 10px 10px 1px rgb(186, 186, 186);
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgb(115, 115, 114);
}

#basic p {
  font-weight: bold;
}

.pink {
  color: rgb(255, 192, 203);
}

.skyblue {
  color: skyblue;
}